.container-fluid
{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.headerLogo
{
  height: 100px;
  margin: -40px -10px -30px;
}

.container-flex,
.col-flex,
.input-group-flex
{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.row-flex {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.form-control-flex
{
  flex: 1;
}

.input-group
{
  width: 100%;
}

.page-header 
{
  margin-top: 0;
}

.spin
{
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.floater.panel {
  position: absolute;
  margin: 10px;
  opacity: 0.5;
  right: 0;
  top: 0;
  z-index: 10;
  background-color: #ddd;
  text-transform: uppercase;
  padding: 5px 10px;
}

#autoprocess {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 6px;
}

textarea
{
  background-color: transparent;
  color: #FFF;
  border: solid 2px #FFF;
}

.floater.panel {
  color: #000;
}

.form-control:focus
{
  border: solid 2px #FFF;
  box-shadow: none;
}

textarea::-webkit-input-placeholder
{
  color: #ccc;
  font-style: italic;
}

.form-control[disabled],
.form-control[readonly]
{
  background: rgba(255,255,255,0.2);
}


@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.embedded .page-header,
.embedded .page-footer
{
  display: none;
}