<ng-progress [showSpinner]="false" [color]="'#FFBC49'" [toggle]="uploader.isUploading || evaluationInProgress"></ng-progress>
<div class="container-fluid" [ngClass]="{ embedded: isEmbedded }">
  <div class="page-header">
    <div class="container-flex pull-right">
      <br/>
      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-default pull-right" href="https://www.youtube.com/watch?v=77agyFmjm2c" target="_blank">
            Watch Demo
            <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
          </button>
        </div>
        <div class="col-md-6">
          <button (click)="onClickBuy()" class="btn btn-primary pull-right" tooltip="Purchase unrestricted data size processing">
            <span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            Purchase
          </button>
        </div>
      </div>
    </div>
    <h1>
      <a href="//www.formatik.io/">
        <img src="assets/formatik-logo.png" class="headerLogo"> Webtool
      </a>
    </h1>
  </div>
  <div class="container-flex">
    <div class="row row-flex">
      <div class="col-md-6 padding col-flex">
        <div class="form-group input-group input-group-sm input-group-flex ">
          <textarea id="userInput" class="form-control form-control-flex" [(ngModel)]="input" (ngModelChange)="inputChanged()" required></textarea>
          <div class="panel floater">
            Input&nbsp;
            <label class="btn btn-sm btn-primary" title="Upload Input" for="userFileUpload">
              <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
            </label>
            <input id="userFileUpload" class="hidden" type="file" ng2FileSelect [uploader]="uploader" (change)="upload()">
            <div *ngIf="inputFormat">
              <div class="clearfloat">
                <span class="pull-right">{{inputFormat}}</span>
              </div>
              <div class="clearfloat">
                <span class="pull-right">{{getSizeLabel()}}</span>
              </div>
              <div class="clearfloat">
                <span class="pull-right">{{records}} Rec</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 padding col-flex">
        <div class="form-group input-group">
          <textarea class="form-control" id="userExample" [(ngModel)]="example" (ngModelChange)="exampleChanged()" rows="3" required></textarea>
          <div class="panel floater">
            Example
          </div>
        </div>
        <div class="form-group input-group input-group-sm input-group-flex">
          <div class="center-block">
            <button class="btn btn-md pull-right" [ngClass]="{ 'btn-success': !evaluationInProgress, 'btn-danger' : evaluationInProgress }"
              (click)="evaluate()" [disabled]="!canEvaluate()">
              PROCESS&nbsp;
              <span *ngIf="evaluationInProgress" class="glyphicon glyphicon-refresh spin" aria-hidden="true"></span>
              <span *ngIf="!evaluationInProgress" class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span>
            </button>
            <label id="autoprocess" class="pull-right">
              <input type="checkbox" [(ngModel)]="autoevaluate"> auto-process
            </label>
          </div>
          <br/>
          <div class="input-group-flex" style="position: relative">
            <textarea class="form-control form-control-flex" id="output" [value]="getProcessed()" readonly></textarea>
            <div class="panel floater">
              Output&nbsp;
              <button class="btn btn-sm btn-primary" (click)="copy()" title="Copy to clipboard" [disabled]="evaluationInProgress || !getProcessed()">
                <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
              </button>
              <div class="clearfloat" *ngIf="trunkated">
                <span class="pull-right">Trunkated</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-footer">
    Copyright 2017. Octagon Solutions
  </div>
  <div toastContainer></div>
</div>